@model List<BusinessLogic.ObjectModel.OMUser>
@{
   // Layout = null;
    var user = (BusinessLogic.ObjectModel.OMUser)Session["UserLogin"];
}


<div id="Changepwd" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h1 class="modal-title" id="myModalLabel">Change Password</h1>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <span style="display:none" id="lblChngPwdName">Please enter Name</span>
                    <input type="hidden" class="form-control" id="txtChngPwdId" value="@(""+ user.Id)">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">User Name:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="txtUnm" value="@(""+ user.Username)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">Old Password</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="txtOldPwd" placeholder="Enter Old Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">New Password</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="txtNewPwd" placeholder="Enter New Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-4 control-label">Confirm Password</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="txtCPwd" placeholder="Confirm Password">
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <span style="display:none; color:red" id="lblValChngPwd">New Password And Confirm Password Do Not Match</span>    
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btnChngPwd">Edit</button>
                <button type="button" class="btn btn-default " data-dismiss="modal" id="btnClr">Cancel</button>
            </div>
        </div>
    </div>
</div> 

<script src="@Url.Content("~/scripts/jquery-1.10.2.min.js")"></script>

<script src="@Url.Content("~/scripts/bootstrap.min.js")"></script>
<script>
    function ChngPwdValidation() {
        var isSuccess = true;
        if ($('#txtUnm').val().length == 0) {
            $('#lblChngPwdName').show();
            isSuccess = false;
        }
        else {
            $('#lblChngPwdName').hide();
        }
        return isSuccess;
    }   
       $(document).ready(function () {

        $('#btnChngPwd').on('click', function () {
            if (ChngPwdValidation()) {
            $.ajax({
                    type: "POST",
                    url: '@Url.Action("ChangePassword", "Dashboard")',
                    data: { Id: $('#txtChngPwdId').val(), UserName: $('#txtUnm').val(), Password: $('#txtOldPwd').val(), NewPassword: $('#txtNewPwd').val() },
                    success: function (data) {
                        if (data != null)
                        {                           
                            alert("Password Changed Successfully");
                        }                        
                       location.reload();
                    }
                });
            }
        });
        
           $('#txtCPwd').keyup(function (e) {
               var password = $("#txtNewPwd").val();
               var confirmPassword = $("#txtCPwd").val();
               if (password != confirmPassword) {
                   $('#lblValChngPwd').show();
                   return false;
               }
               else {
                   $('#lblValChngPwd').hide();
                   return true;
               }
           });
    });
</script>