@model List<BusinessLogic.ObjectModel.OMCategory>
@{
    //Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "GetInventory";
}


@*<link href="@Url.Content("~/Content/bootstrap-theme.min.css")" rel="stylesheet" />*@


    @using (Html.BeginForm("GetInventory", "POS", FormMethod.Post))
    {
        <body>
            <div id="myPOS" class="container-fluid navbar navbar-default">
                <div class="col-xs-2 col-sm-2 sidebar-offcanvas navbar-left" id="sidebar">
                    <div class="nav navbar"></div>
                    <div class=" row list-group nav navbar-left">
                        <div class="tile red" data-toggle="modal" data-target="#myInventory">
                            <center>
                                <h3 class="title glyphicon glyphicon-list-alt" style="font-size:28px" id="InvOpen"> Inventory</h3>
                            </center>
                        </div>
                    </div>
                    <div class=" row list-group nav navbar-left">
                        <div class="tile blue" data-toggle="modal" data-target="#myCategory">
                            <center>
                                <h3 class="title glyphicon glyphicon-th" style="font-size:28px" id="InvOpen">  Category</h3>
                            </center>
                        </div>
                    </div>
                    <div class=" row list-group nav navbar-left">
                        <div class="tile orange" data-toggle="modal" data-target="#myVendor">
                            <center>
                                <h3 class="title glyphicon glyphicon-user" style="font-size:28px">   Vendor</h3>
                            </center>
                        </div>
                    </div>
                    <div class=" row list-group nav navbar-left">
                        <div class="tile green" data-toggle="modal" data-target="#myGiftCard1">
                            <center>
                                <h3 class="title glyphicon glyphicon-credit-card" style="font-size:28px"> GiftCards</h3>
                            </center>
                        </div>
                    </div>
                    <div class=" row list-group nav navbar-left">
                        <div class="tile purple" data-toggle="modal" data-target="#myTranHistory">
                            <center>
                                <h3 class="title glyphicon glyphicon-modal-window" style="font-size:28px"> Transaction History</h3>
                            </center>
                        </div>
                    </div>
                </div>
                <style>
                    #myPOS{
                        background-image: url('@Url.Content("~/images/hd-website-backgrounds-11.jpg")');
                    }
                </style>
                <style>
                    body {
                        font-family: "Open Sans", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
                        font-size: 10px;
                        height: 2.5em;
                        font-weight: 600;
                        
                    }

                    p, span, a, ul, li, button {
                        font-family: inherit;
                        font-size: inherit;
                        font-weight: inherit;
                        line-height: inherit;
                    }

                    strong {
                        font-weight: 600;
                    }


                    h1, h2, h3, h4, h5, h6 {
                        font-family: "Open Sans", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
                        line-height: 2.5em;
                        font-weight: 300;
                    }


                    .tile {
                        width: 175px;
                        display: inline-block;
                        box-sizing: border-box;
                        background: #fff;
                        padding: 20px;
                        line-break: auto;
                    }

                        .tile .title {
                            margin-top: 0px;
                        }

                        .tile.purple, .tile.blue, .tile.red, .tile.orange, .tile.green {
                            color: #fff;
                        }

                        .tile.purple {
                            background: #5133AB;
                        }

                            .tile.purple:hover {
                                background: #3e2784;
                            }

                        .tile.red {
                            background: #AC193D;
                        }

                            .tile.red:hover {
                                background: #7f132d;
                            }

                        .tile.green {
                            background: #00A600;
                        }

                            .tile.green:hover {
                                background: #007300;
                            }

                        .tile.blue {
                            background: #2672EC;
                        }

                            .tile.blue:hover {
                                background: #125acd;
                            }

                        .tile.orange {
                            background: #DC572E;
                        }

                            .tile.orange:hover {
                                background: #b8431f;
                            }
                </style>
                <div class="col-xs-3 col-sm-9 main ">
                    <form class="navbar-right">
                        <div class="page-header navbar-right">
                            <input type="text" class="form-control" id="txtBarcode" placeholder="Barcode Number">
                        </div>
                    </form>
                    @*<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main ">*@
                    <h1 class="page-header" style="color:white"> POINT OF SALE </h1>

                    <div>
                        <div>

                            <div class="navbar navbar-default" style="background-color:transparent">

                                <div class="container-fluid">
                                    <!-- Brand and toggle get grouped for better mobile display -->

                                    <div>
                                        <ul>
                                            <li>
                                                @if (Model != null)
                                                {
                                                    foreach (var cat in Model)
                                                    {
                                                        <div data-poscategoryid="@cat.Id" style="width:100px;height:100px;padding:2px 0 2px 3px;border:solid;margin-bottom:5px;margin-top:5px;float:left;">
                                                            @*<a href="@Url.Action("GetCategories","POS")"><img src="('/Content/CategoryImages/' +data.Image)" id="img1" height="75px" width="90px" /> @cat.CategoryName </a>*@
                                                            <a href="#" style="color:white"><img src="@Url.Content("~/Content/CategoryImages/" + cat.Image)" id="img1" height="75px" width="90px" /> @cat.CategoryName </a>
                                                        </div>
                                                    }
                                                }


                                            </li>
                                        </ul>

                                    </div>

                                </div>


                            </div>
                        </div>



                        <div>
                            <table id="tblcat" class="table" style="color:white">
                                <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th>Description</th>
                                        <th>Discount</th>
                                        <th>Cost</th>
                                        <th>Barcode</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-toggle="modal" data-target="#myModal"></tr>
                                </tbody>

                            </table>
                        </div>

                    </div>
                    <div>
                        <nav class="navbar navbar-default" style="background-color:transparent">
                            <div class="container-fluid">
                                <div class="container-fluid dynamicTile">
                                    <div class="row">
                                        <div class="col-sm-4 col-xs-8">
                                            <div id="tile7" class="tile navbar-nav">
                                                <div class="carousel slide" data-ride="carousel">
                                                    <!-- Wrapper for slides -->
                                                    <div class="carousel-inner">
                                                        <div class="item active">
                                                            <img src="~/Content/CategoryImages/gym6.jpg" />
                                                        </div>
                                                        <div class="item">
                                                            <img src="~/Content/CategoryImages/bar2.jpg" />
                                                        </div>
                                                        <div class="item">
                                                            <img src="~/Content/CategoryImages/t1.jpg" />
                                                        </div>
                                                        <div class="item">
                                                            <img src="~/Images/f5.jpg" class="img-responsive" />
                                                        </div>
                                                        <div class="item">
                                                            <img src="~/Content/CategoryImages/shoes2.jpg" class="img-responsive" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-4 col-xs-8">
                                            <div id="tile7" class="tile navbar-nav">
                                                <div class="carousel slide" data-ride="carousel">
                                                    <!-- Wrapper for slides -->
                                                    <div class="carousel-inner">
                                                        <div class="item active">
                                                            <img src="~/Images/category.jpg" class="img-responsive" />
                                                        </div>
                                                        <div class="item">
                                                            <img src="~/Images/category.jpg" class="img-responsive" />
                                                        </div>
                                                        <div class="item">
                                                            <img src="~/Images/category.jpg" class="img-responsive" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-4 col-xs-8">
                                            <div id="tile7" class="tile navbar-nav">
                                                <div class="carousel slide" data-ride="carousel">
                                                    <!-- Wrapper for slides -->
                                                    <div class="carousel-inner">
                                                        <div class="item active">
                                                            <img src="~/Content/CategoryImages/gym6.jpg" class="img-responsive" />
                                                        </div>
                                                        <div class="item">
                                                            <img src="~/Content/CategoryImages/bar2.jpg" class="img-responsive" />
                                                        </div>
                                                        <div class="item">
                                                            <img src="~/Content/CategoryImages/t1.jpg" class="img-responsive" />
                                                        </div>
                                                        <div class="item">
                                                            <img src="~/Images/f5.jpg" class="img-responsive" />
                                                        </div>
                                                        <div class="item">
                                                            <img src="~/Content/CategoryImages/shoes2.jpg" class="img-responsive" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                </div>
                                <style>
                                    .dynamicTile .col-sm-2.col-xs-4 {
                                        padding: 5px;
                                    }

                                    .bigicon {
                                        font-size: 67px;
                                        color: white;
                                        margin-top: 20px;
                                        margin-bottom: 10px;
                                    }

                                    .icontext {
                                        color: white;
                                        font-size: 27px;
                                    }

                                    .bigicondark {
                                        font-size: 67px;
                                        color: black;
                                        margin-top: 20px;
                                        margin-bottom: 10px;
                                    }

                                    .icontextdark {
                                        color: black;
                                        font-size: 27px;
                                    }

                                    .dynamicTile .col-sm-4.col-xs-8 {
                                        padding: 5px;
                                    }

                                    #tile1 {
                                        background: #7C91C7;
                                    }

                                    #tile2 {
                                        background: #3B579D;
                                    }

                                    #tile3 {
                                        background: #153178;
                                    }

                                    #tile4 {
                                        background: #EACF46;
                                    }

                                    #tile5 {
                                        background: #EACF46;
                                    }

                                    #tile6 {
                                        background: #FFED94;
                                    }

                                    #tile7 {
                                        background: white;
                                    }

                                    #tile8 {
                                        background: #03133C;
                                    }

                                    #tile9 {
                                        background: #EACF46;
                                    }

                                    #tile10 {
                                        background: #EACF46;
                                    }

                                    .tilecaption {
                                        position: relative;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        -webkit-transform: translateY(-50%);
                                        -ms-transform: translateY(-50%);
                                        margin: 0 !important;
                                        text-align: center;
                                        color: white;
                                        font-family: Segoe UI;
                                        font-weight: lighter;
                                    }
                                </style>

                                <script type="text/javascript">
                                    jQuery(function ($) {
                                        $(".tile").height($("#tile1").width());
                                        $(".carousel").height($("#tile1").width());
                                        $(".item").height($("#tile1").width());

                                        $(window).on('resize', function () {
                                            if (this.resizeTO) {
                                                clearTimeout(this.resizeTO);
                                            }
                                            this.resizeTO = setTimeout(function () {
                                                $(this).trigger('resizeEnd');
                                            }, 10);
                                        });

                                        $(window).on('resizeEnd', function () {
                                            $(".tile").height($("#tile1").width());
                                            $(".carousel").height($("#tile1").width());
                                            $(".item").height($("#tile1").width());
                                        });
                                    });
                                </script>
                            </div><!-- /.container-fluid -->
                        </nav>

                    </div>
                    <form class="form-inline">
                        <ul class="nav nav-pills navbar-collapse">
                            <li role="presentation">
                                <a href="#">
                                    <button type="button" id="btnDelete" class="btn btn-default btn-lg btn-block">
                                        <span class="glyphicon glyphicon-trash" style="font-size:26px">  Delete</span>
                                    </button>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#">
                                    <button type="button" id="btnVoid" class="btn btn-default btn-lg btn-block"><span class="glyphicon glyphicon-refresh" style="font-size:26px">  Void</span></button>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#">
                                    <button type="button" id="btnPaymentByCash" class="btn btn-default btn-lg btn-block"><span class="glyphicon glyphicon-erase" style="font-size:26px">  Cash Payment</span></button>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#">
                                    <button type="button" id="btnPaymentByGiftCard" class="btn btn-default btn-lg btn-block">
                                        <span class="glyphicon glyphicon-credit-card" style="font-size:26px">  GiftCard Payment</span>
                                    </button>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#">
                                    <input type="text" style="display:none" id="lblEnterMember" class="btn btn-default btn-lg btn-block" placeholder="Enter Member" />
                                </a>
                            </li>
                        </ul>

                        <br />

                    </form>
                    <div>
                        <table id="tblCart" class="table" style="color:white">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Description</th>
                                    <th>Discount</th>
                                    <th>Cost</th>
                                    <th>Barcode</th>
                                    <th>Oty</th>
                                    <th>Amount</th>
                                    <th>Total Amt</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                    <div>
                        <form class="form-inline">
                            <div class="form-group navbar-right">
                                <label for="exampleInputName2" style="color:white"><h3><b><i> TOTAL PAYABLE AMOUNT </i></b></h3></label>
                                <input type="text" class="form-control" id="txtGrandTotal">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
            @*<div class="row col-lg-10">
                <form>
                    @******total
                        *****sub- total*@
        </body>
    }
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"> User Required Quantity </h4>
                </div>
                <div class="modal-body">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="exampleInputName2"> Quantity </label>
                            <input type="text" class="form-control" id="txtQty" placeholder="Enter the Qty...">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnAddQty" class="btn btn-primary"> Add </button>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myPayment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"> Payment Options </h4>
                </div>
                <div class="modal-body">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="exampleInputName2"> Payment Modes </label><br />

                        </div>
                        <ul class="nav nav-pills nav-stacked navbar-collapse">
                            <li role="presentation" id="btnCash">
                                <a href="#">
                                    CASH MODE
                                </a>
                            </li>
                            <li role="presentation" id="btnGiftCard">
                                <a href="#">
                                    GIFT CARD
                                </a>
                            </li>
                        </ul>

                        <br />
                        @*<div class="form-group">
                                <br />

                                <br />

                            </div>*@
                    </form>
                </div>
                @*<div class="modal-footer">
                        <button type="button" id="btnAddQty" class="btn btn-primary"> Add </button>

                    </div>*@
            </div>
        </div>
    </div>


    <div class="modal fade" id="myCash" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel" style="color:deeppink"><i> PAYMENT VIA CASH </i></h4>
                </div>
                <div class="modal-body">

                    <span style="display:none; color:red" id="lblCash"> Cash Payment </span>
                    <span style="display:none; color:red" id="lblGiftCard"> Gift Card Payment </span>
                    <form class="form-inline">
                        <div class="row">
                            <div class="form-group">
                                <label for="exampleInputName2" class="col-sm-2"> Item Total </label>
                                <input type="text" class="form-control col-sm-offset-1" id="txtItemTotal" style="color:lightseagreen;font-style:initial">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="exampleInputName2" class="col-sm-2"> Remarks </label>
                                <textarea class="form-control col-md-offset-1" id="txtRemarks" style="color:lightseagreen;font-style:initial" placeholder="Customer Remarks "></textarea>
                            </div>
                        </div>

                    </form>
                    <form class="form-horizontal">

                        <div class="form-group">
                            <button type="button" id="btnDone" class="btn btn-primary col-sm-offset-2"> Done </button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @*<div class="form-group">
        <br />
        <label for="exampleInputName2" style="color:deeppink"><i> Your Payment Has Successfully Been Done !!! </i></label><br />

        </div>*@

    <div class="modal fade" id="myGF" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><b><i> CARD SELLING </i></b></h4>
                </div>
                <div class="modal-body">
                    <form id="frmCardTransaction">
                        <input type="hidden" class="form-control" id="txtId" placeholder="Plz Enter The Name">
                        <div class="row">
                            <div class="form-inline">
                                <label for="exampleInputEmail2" class="col-sm-2">Card Number </label>
                                <div class="col-sm-10">
                                    @Html.DropDownList("ddlCardNumber", new SelectList(ViewBag.AllCard, "Id", "Number"), "-- Select --", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-inline">
                                <label for="exampleInputEmail2" class="col-sm-2">Payable Amount </label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="lblShowTotal" style="color:lightseagreen" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-inline center-block">
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-primary" id="btnAddCard"> Add </button>
                                </div>

                                <div class="col-sm-10">
                                    <button type="button" class="btn btn-primary" id="btnRemoveCard"> Remove </button>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="form-group">
                                <div class="form-inline table-striped table-hover">
                                    <table id="tblCard" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th><b>Card No</b></th>
                                                <th><b>Amount</b></th>
                                                <th><b>Expiry Date</b></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                    <span style="display:none;color:red" id="lblUnablePayment">This Payment Is not Possible As Card Amount is Less Than Payable Amount</span>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btnPay"> Pay </button>

                    </div>
                </div>
            </div>
        </div>
    </div>




    @************* CATEGORY SECTION ************@
    @{
        Html.RenderAction("GetCategories", "POS");
    }

    @************ VENDOR SECTION *************@
    @{ Html.RenderAction("GetVendors", "POS");
    }

    @************** INVENTORY SECTION **********@

    @{
        Html.RenderAction("GetInventories", "POS");
    }
    @************** GIFT CARD SECTION **********@

    @{
        Html.RenderAction("GetAllByCard", "POS");
    }
    @************** TRANSACTION DETAILS SECTION **********@

    @{
        Html.RenderAction("GetTransactionDetails", "POS");
    }


    

    <!--UserDetail-->
    @{ Html.RenderAction("GetUserDetail", "Dashboard");}

    <!--Change Passowrd-->
    @{ Html.RenderAction("Changepwd", "Dashboard");}



<script>
    var invId = 0;
    var invs;
    var CId = 0;
    var cid;
    var TransactionMasterId = 0;
    var CardItemsId = 0;
    var now = new Date();

    var a = $('#btnCash').select();


    function Final() {
        var GrandTotal = 0;
        $('#tblCart tbody tr').each(function () {
            var value = parseFloat($(this).find('td:last').text());
            GrandTotal += value;
        });
        $('#txtGrandTotal').val(GrandTotal);
        $('#txtGrandTotal').attr('readonly', true);

    }
    var paymentMode = 'CASH';
    var paymentMode1 = 'GIFT CARD';
    $(document).ready(function () {
        $('#txtBarcode').focus();

        $('body').on('click', '#tblcat tbody tr', function () {
            $('#txtQty').val("");
            invId = $(this).data('invid');
            invs = $(this);
            $('#myModal').modal('show');
        });

        $('#btnPaymentByCash').on('click', function () {
            paymentMode = 'CASH';
            if ($('#tblCart tbody tr').length > 0) {
                $('#myCash').modal('show');
            }
            else {
                alert("Plz Select Some Items To Continue The Transaction");
                $('#myCash').modal('hide');
            }
            
            $.ajax({
                type: "POST",
                url: '@Url.Action("CashPayment", "POS")',
                data: { Id: invId },
                success: function (data) {
                    if (data != null) {
                        $('#myCash').each(function (index) {
                              if ($('#tblCart tbody tr td:last') != null) {
                                  $('#txtItemTotal').val($('#txtGrandTotal').val());
                                  $('#txtItemTotal').attr('readonly', true);
                            }
                        });
                    }
                }
            });
        });
        $('#btnPaymentByGiftCard').on('click', function () {
            $("#lblEnterMember").show();
            $('#lblEnterMember').focus();
            $('#lblShowTotal').val($('#txtGrandTotal').val());
            $('#lblShowTotal').attr('readonly', true);
        });
        
        $('#lblEnterMember').on('blur', function () {
            if ($('#tblCart tbody tr').length == 0 && $('#lblEnterMember').val() != "")
            {
                $('#myGF').modal('hide');
                alert("Plz Select Items To Continue The Transaction");
                
            }
            else if ($('#lblEnterMember').val() == "") {
                $('#myGF').modal('hide');
                alert("Plz. Enter Member To Continue Transaction");
                
            }
            else {
                $('#myGF').modal('show');
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetCardNoByMember", "POS")',
                    data: { Id: $('#lblEnterMember').val() },
                    success: function (data) {
                        if (data != null) {
                            $('#ddlCardNumber').empty();
                            $.each(data, function (index, element) {
                                $('#ddlCardNumber').append('<option value = "' + element.Id + '">' + element.Number + '</option>');
                                //$("#ddlCardNumber").append($('<option></option>').attr("value", data.Id).text(data.Number));
                            });
                        }
                    }
                });
            }
            
        });

        $('#btnAddCard').on('click', function () {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetCardDetails", "POS")',
                data: { Id: $('#ddlCardNumber').val() },
                success: function (data) {
                    if (data != null) {
                        var date = new Date(parseInt(data.ExpiryDate.substr(6)));
                        var datestr = date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();

                        $('#tblCard tbody').append('<tr data-cid="' + data.Id +
                          '"><td>' + data.Number +
                          '</td><td>' + data.Amount +
                          '</td><td>' + datestr +
                          '</td></tr>');
                        //$.each(data, function (index, element) {
                        //    $('#ddlCardNumber option['+element.Id == element.Number+']').remove();
                        //});
                    }
                }
            });
        });


        $('#btnDone').on('click', function () {
            var items = [];
            $.each($('#tblCart tbody tr'), function (index, element) {
                items.push({
                    ItemId: $(this).data('itemid'),
                    ItemTotal: $(this).find('td:eq(7)').text()
                });
            });
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: "POST",
                url: '@Url.Action("GetAllByTransactionMaster", "POS")',
                data: JSON.stringify({
                    MemberId: 0,
                    Remarks: $('#txtRemarks').val(),
                    Items: items,
                    TransactionMode: paymentMode
                }),
                success: function (data) {
                    if (data != null)
                    {
                        alert("Your Payment Has Successfully Been Done Via CASH");
                    }
                    
                    location.reload();
                }
                        
            });
        });

        //PAYMENT GIFT CARD
        $('#btnPay').on('click', function () {
            var cards = [];
            $.each($('#tblCard tbody tr'), function (index, element) {
                cards.push({
                    CardId: $(this).data('cid'),
                });
            });
            var items = [];
            $.each($('#tblCart tbody tr'), function (index, element) {
                items.push({
                    ItemId: $(this).data('itemid'),
                    ItemTotal: $(this).find('td:eq(7)').text()
                });
            });
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: "POST",
                url: '@Url.Action("GetAllByTransactionMaster", "POS")',
                data: JSON.stringify({
                    MemberId: $('#lblEnterMember').val(),
                    Remarks: $('#txtRemarks').val(),
                    TransactionMode: paymentMode1,
                    Items: items,
                    Cards: cards                    
                }),
                success: function (data) {
                    location.reload();
                    
                }
            });
        });

        $('#btnVoid').on('click', function () {
            //$('#myPOS').reload(true);
            window.location.reload();
            
        });

        $('#txtBarcode').keyup(function () {
            var isDone = false;
            $('#tblCart tbody tr').each(function () {
                if ($(this).find('td:eq(4)').text() == $('#txtBarcode').val()) {
                    $('#tblCart tbody tr').find('td:eq(5)').text(parseInt($(this).find('td:eq(5)').text()) + 1);
                    $(this).find('td:eq(7)').text(parseInt($(this).find('td:eq(5)').text()) * parseInt($(this).find('td:eq(6)').text()));
                    Final();
                    isDone = true;
                }
            });
            if (!isDone) {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetAllByBarcode", "POS")',
                    data: { Barcode: $('#txtBarcode').val() },
                    success: function (data) {
                        if (data != null) {
                            var abc = 1 * data.Total;
                            $('#tblCart tbody').append('<tr data-itemid="' + data.Id + '"><td>' + data.Item + '</td><td>' + data.Description + '</td><td>' + data.Discount + '</td><td>' + data.Cost + '</td><td>' + data.Barcode + '</td><td>' + 1 + '</td><td>' + data.Total + '</td><td>' + abc + '</td></tr>');
                            Final();

                        }
                    }
                });
            }
            else {
                //$('#txtBarcode').val(" Does Not Match ");
            }
        });

        $('#myModal').on('shown.bs.modal', function () {
            $('#txtQty').focus();
        });

        $('#btnAddQty').on('click', function () {
            var isFound = false;
            $('#tblCart tbody tr').each(function () {
                if ($(this).find('td:eq(1)').text() == invs.find('td:eq(1)').text()) {
                    $(this).find('td:eq(5)').text(parseInt($(this).find('td:eq(5)').text()) + parseInt($('#txtQty').val()));
                    $(this).find('td:eq(7)').text(parseInt($(this).find('td:eq(5)').text()) * parseInt($(this).find('td:eq(6)').text()));
                    Final();
                    isFound = true;
                }
            });
            $('#txtQty').focus();
            if (!isFound) {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("AddQty", "POS")',
                    data: { Id: invId },
                    success: function (data) {
                        if (data != null) {
                            $('tblCart tbody').empty();
                            var abc = $('#txtQty').val() * data.Total;
                            $('#tblCart tbody').append('<tr data-itemid="' + data.Id + '"><td>' + data.Item + '</td><td>' + data.Description + '</td><td>' + data.Discount + '</td><td>' + data.Cost + '</td><td>' + data.Barcode + '</td><td>' + $('#txtQty').val() + '</td><td>' + data.Total + '</td><td>' + abc + '</td></tr>');
                            $('#myModal').modal('hide');
                            Final();
                        };
                    }
                });
            }
            else {
                $('#myModal').modal('hide');
            }
        });

        $('body').on('click', '#tblCart tbody tr', function () {
            a = $(this).index();
        });

        $('#btnDelete').on('click', function () {
            if ('click', '#tblCart tbody tr') {
                if (confirm("Are You Sure You Want To Remove This Item From Cart ?")) {
                    $('#tblCart tbody tr:eq(' + a + ')').remove();
                    a = null;
                    Final();
                }
            }
        });
        $('body').on('click', '#tblCard tbody tr', function () {
            a = $(this).index();
        });

        $('#btnRemoveCard').on('click', function () {
            if ('click', '#tblCard tbody tr') {
                if (confirm("Are You Sure You Want To Remove This Card From The List ?")) {
                    $('#tblCard tbody tr:eq(' + a + ')').remove();
                    a = null;

                }
            }
        });

        $('div[data-poscategoryid]').on('click', function () {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetInvntoryByCategoryId", "POS")',
                data: { Id: $(this).data('poscategoryid') },
                success: function (data) {
                    if (data != null) {
                        $('#tblcat tbody').empty();
                        $.each(data, function (index, element) {
                            $('#tblcat tbody').append('<tr data-invid="' + element.Id + '"><td>' + element.Item + '</td><td>' + element.Description + '</td><td>' + element.Discount + '</td><td> ' + element.Cost + ' </td><td> ' + element.Barcode + ' </td></tr>');
                        });
                    }
                }
            });
        });


    });


</script>
